before_install:
  - git config --global user.name travis
  - git config --global user.email travis@locahost
  - "npm install npm@4 -g"
language: node_js
script:
  - npm run coverage
  - npm run coverage-analytics
node_js:
  - "4"
  - "5"
  - "6"
  - "7"
os:
  - linux
sudo: false
